:root {
	--mailchimp-color-text: #241c15;
	--mailchimp-color-white: #fff;
	--mailchimp-color-border: #ffe01b;
	--mailchimp-color-header-bg: #fbeeca;
	--mailchimp-color-link: #007c89;
	--mailchimp-color-text-light: #373737;
	--mailchimp-color-text-lightest: #5d5c5d;
	--mailchimp-max-width: 56.25rem; /* 900 pixels */
}

/* Header */
.mailchimp-header {
	align-items: center;
	background-color: var(--mailchimp-color-white);
	border-top: 2px solid var(--mailchimp-color-border);
	box-sizing: border-box;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	max-width: var(--mailchimp-max-width);
	padding: 0.75rem 1rem;
}

/* Sections */
table.mc-widefat {
	background: var(--mailchimp-color-white);
	border: 2px solid var(--mailchimp-color-header-bg) !important;
	border-radius: 6px;
	margin: 2.75rem 0 2.25rem;
}

table.mc-widefat tr:first-child {
	background: var(--mailchimp-color-header-bg);
}

table.mc-widefat tr:first-child th {
	color: var(--mailchimp-color-text);
	font-weight: 500;
}

/* Buttons */
#wpbody .button {
	border-color: var(--mailchimp-color-link);
	color: var(--mailchimp-color-link);
}

.error_msg {
	--mailchimp-error-bg: #fadbd5;
	--mailchimp-error-border: #db3a1b;
	background: var(--mailchimp-error-bg);
	border: 1px solid var(--mailchimp-error-border);
	border-radius: 6px;
	box-sizing: border-box;
	color: var(--mailchimp-color-text);
	font-size: 0.75rem;
	line-height: 1;
	margin: 12px 0;
	padding: 9px;
	width: 900px;
}

.success_msg,
.notes_msg {
	background: var(--mailchimp-color-header-bg);
	border-radius: 6px;
	box-sizing: border-box;
	color: var(--mailchimp-color-text-light);
	font-size: 0.75rem;
	line-height: 1;
	margin: 12px 0;
	padding: 9px;
	width: 900px;
}

/* User */
table.mc-user {
	margin-top: 19px;
	width: 900px;
}

table.mc-user tr {
	border: 1px solid var(--mailchimp-color-link);
	border-radius: 6px;
	float: right;
}

.mc-user td:first-of-type {
	font-weight: 400 !important;
	padding-right: 1rem;
}

.mc-user td:last-of-type {
	min-width: 75px;
}

.mc-user h3 {
	font-weight: 400;
	text-indent: 9px;
}

/* List Selection */
.mc-list-row {
	margin-bottom: 12px;
	width: 900px;
}

.mc-list-row td:first-of-type {
	min-width: 200px;
	padding: 12px 12px 12px 0;
}

.mc-list-row td:last-of-type {
	padding: 12px 12px 12px 0;
	width: 80px;
}

.mc-list-note {
	border-bottom: 2px solid var(--mailchimp-color-text);
	color: var(--mailchimp-color-text-lightest);
	font-size: 0.8125rem;
	font-weight: 400;
	margin-bottom: 8px;
	margin-top: 7px;
	padding: 0 0 18px;
	width: 900px;
}

table.mc-list-select {
	margin-bottom: -40px;
}

/* Headings */
.mailchimp-header h2,
.mc-h2,
.mc-h3,
.mc-p {
	color: var(--mailchimp-color-text);
}

.mc-h2 {
	font-size: 1.625rem;
	margin-bottom: 0;
}

.mc-h3 {
	border-bottom: 2px solid var(--mailchimp-color-text);
	font-size: 1.125rem;
	margin-bottom: 12px;
	margin-top: 36px;
	padding-bottom: 12px;
}

.mc-p {
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0;
}

.mc-a {
	color: var(--mailchimp-color-link);
	font-size: 0.875rem;
	font-weight: 400;
	margin-bottom: 0;
}

/* Table */
table.mc-widefat td,
table.mc-widefat th {
	padding: 18px;
	text-align: left;
	text-shadow: none;
}

table.mc-widefat .last-row td,
table.mc-widefat .last-row th {
	border-bottom: none !important;
}

table.mc-widefat th {
	color: var(--mailchimp-color-text-light) !important;
	font-weight: 700;
	width: 130px;
}

table.mc-widefat td label {
	display: block;
	font-size: 0.75rem;
	font-style: normal;
	margin-top: -17px;
	padding-left: 24px;
}

table.mc-widefat td {
	color: var(--mailchimp-color-text-lightest) !important;
	font-size: 0.75rem;
	line-height: 1.125 !important;
}

table.mc-widefat td input {
	display: inline-block;
	font-style: normal;
}

table.mc-widefat.mc-api {
	border-radius: 6px;
	margin-bottom: 19px;
	margin-top: 19px;
}

table.mc-widefat.mc-api td,
table.mc-widefat.mc-api th {
	border-bottom: none !important;
}

table.mc-widefat.mc-api tr:first-child {
	background: var(--mailchimp-color-header-bg) !important;
}

a.mc-api-key {
	color: var(--mailchimp-color-white);
	display: block;
	margin-top: 3px;
}

a.mc-api-key:hover {
	color: var(--mailchimp-color-white);
	text-decoration: underline;
}

.mc-api-submit {
	margin-bottom: 19px;
}

.mc-submit {
	clear: both;
	float: right;
}

th.mailchimp-connect {
	width: 100% !important;
}

#wpfooter {
	margin-left: 0 !important;
}
