/* Leave this file - wp_add_inline_style relies on this file existing */
#mc_message {
	display: none;
}

.mailchimp-merge-field-checkbox .components-base-control__field {
	margin-bottom: 8px;
}

.mailchimp-merge-field-checkbox input[type="checkbox"]:disabled {
	opacity: 0.5;
}

#mc_subheader {
	line-height: 1.25em;
	margin-bottom: 18px;
}

#mc_signup_submit {
	margin-top: 1.5em;
	padding: 10px 8px;
	width: 80%;
}
#mc_unsub_link a {
	font-size: 0.75em;
}
#mc_unsub_link {
	margin-top: 1.0em;
	text-align: center;
}
