/* Import fonts */
@import url('../fonts/Means/fonts.css');

#mailchimp-sf-create-account .flex {
    display:flex;
}

#mailchimp-sf-create-account .gap-x-6 {
	column-gap: 24px;
}

#mailchimp-sf-create-account .gap-x-2 {
	column-gap: 10px;
}

#mailchimp-sf-create-account .justify-between {
    justify-content: space-between;
}

#mailchimp-sf-create-account .items-center {
    align-items: center;
}

#mailchimp-sf-create-account .opacity-25 {
	opacity: 0.25;
}

#mailchimp-sf-create-account .opacity-75 {
	opacity: 0.75;
}

#mailchimp-sf-create-account .mailchimp-sf-loading {
	animation: spin 1s linear infinite;
}

#mailchimp-sf-create-account .mailchimp-sf-loading svg {
	display: block;
}

#mailchimp-sf-create-account .wizard-steps {
	color: rgba(36, 28, 21);
}

#mailchimp-sf-create-account .wizard-steps .deselected {
	color: rgba(36, 28, 21, 0.3);
}

#mailchimp-sf-create-account .wizard-steps .current {
	color: rgba(36, 28, 21);
	border-bottom: 2px solid rgb(0, 124, 137);
}

#mailchimp-sf-create-account .wizard-steps .chevron {
	margin: 0 5px;
}

#mailchimp-sf-create-account .wizard-steps .chevron svg {
	display: block;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.mailchimp-sf-create-account__header h3 {
	font-family: "Means Web", serif;
	margin-bottom: 4px;
	margin-top: 0;
	font-weight: 300;
}

.mailchimp-sf-create-account__header {
	padding: 16px 8px;
	background: #fff;
	border-top: 4px solid #FFE01BFF;
	border-bottom: 1px solid rgb(229, 231, 235);
	column-gap: 16px;
}

.mailchimp-sf-create-account__header .mailchimp-sf-create-account-plus {
	margin: 0 8px;
}

.mailchimp-sf-create-account__body {
	background: #F6F6F4;
}

.mailchimp-sf-create-account__body-inner {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 128px;
	padding-bottom: 128px;
}

.mailchimp-sf-create-account__body .subtitle {
	font-family: "Means Web", serif;
	font-size: 24px;
	line-height: 1.4;
	font-weight: 300;
	padding-left: 0;
	color: #000;
}

.mailchimp-sf-create-account__body .email-opener {
	font-size: 16px;
}

.mailchimp-sf-create-account__body .h4 {
	font-size: 18px;
	margin: 0;
	margin-bottom: 24px;
}

.mailchimp-sf-create-account__body .title {
	font-family: "Means Web", serif;
	font-size: 32px;
	font-weight: 300;
	line-height: 1.4;
	padding-bottom: 16px;
	margin-bottom: 32px;
	border-bottom: 1px solid rgb(229, 231, 235)	;
}

.mailchimp-sf-create-account-step {
	padding: 5px 0 10px;
}

#mailchimp-sf-business-address {
	margin-top: 40px;
}

.mailchimp-sf-create-account__body .button.create-account-save {
	all: unset;
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	gap: 10px;
	padding: 12px 32px;
	position: relative;
	background-color: #007c89;
	border-radius: 38px;
	font-weight: 500;
	color: #ffffff;
	font-size: 13px;
	text-align: center;
	letter-spacing: 0;
	line-height: 20px;
	white-space: nowrap;
	cursor: pointer;
}

.mailchimp-sf-create-account__body .button.create-account-save:hover {
	background-color: #019eaf;
	text-decoration: none;
}

.mailchimp-sf-create-account__body .button.create-account-save[disabled] {
	cursor: not-allowed;
}

.mailchimp-sf-form-wrapper {
	background: transparent !important;
}

.mailchimp-sf-form-wrapper fieldset{
	background: transparent !important;
}

.mailchimp-sf-form-wrapper fieldset input{
	background: white !important;
}

.mailchimp-sf-form-wrapper textarea{
	background: white !important;
}

.mailchimp-sf-form-wrapper fieldset select {
	background: white url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
	background-size: auto;

}

.mailchimp-sf-form-wrapper a {
	color: #8D5C87;
	text-decoration: none;
}

.mailchimp-sf-form-wrapper a:hover {
	text-decoration: underline;
}

.mailchimp-sf-form-wrapper form {
	margin: 0 auto;
	/* padding: 3em; */
}

.mailchimp-sf-form-wrapper fieldset{
	background: transparent;
	width: 100%;
}

.mailchimp-sf-form-wrapper fieldset .fieldset-header {
	float: left;
	padding-top: 3em;
	width: 100%;
	font-size: 18px !important;
}

.mailchimp-sf-form-wrapper fieldset .fieldset-header.no-padding {
	padding-top: 1em;
}

.mailchimp-sf-form-wrapper p.submit {
	margin-top: 0 !important;
	padding-top: 35px !important;
	margin-bottom: 45px !important;
}

.mailchimp-sf-form-wrapper p.submit:focus {
	margin-top: 10px !important;
}

.mailchimp-sf-form-wrapper .required-field-mark {
	color: red;
}

.mailchimp-sf-form-wrapper label.optional {
	display: flex;
}

.mailchimp-sf-form-wrapper label.optional span:last-child {
	color: rgba(36, 28, 21, 0.65)
}

.mailchimp-sf-form-wrapper label {
	display: block;
	font-family: ui-sans-serif, system-ui, sans-serif, proxima-nova, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	width: 100%;
	color: #3C3C3C;
}

.mailchimp-sf-form-wrapper h4 {
	margin-top: 0;
}

.mailchimp-sf-form-wrapper .box.box-half,
.sync-content-wrapper .box.box-half,
.sync-more-wrapper .box.box-half {
	float: left;
	clear: none;
	width: 50%;
}

.mailchimp-sf-form-wrapper .form-row {
	display: flex;
	column-gap: 16px;
}

.mailchimp-sf-form-wrapper .form-row:not(:last-child) {
	margin-bottom: 16px;
}

.mailchimp-sf-form-wrapper .form-row .box {
	width: 100%;
}

.mailchimp-sf-form-wrapper .form-row .box-half {
	width: calc(50% - 8px);
}

.mailchimp-sf-form-wrapper .box.box-half.margin-large {
	margin-top: 3em;
}

.mailchimp-sf-form-wrapper .box.box-third {
	float: left;
	clear:none;
	width: 33%;
}

.mailchimp-sf-form-wrapper fieldset label {
	font-weight: 400;
}

.mailchimp-sf-form-wrapper fieldset label p{
	font-weight: 400;
}

.mailchimp-sf-form-wrapper fieldset input[type="text"],
.mailchimp-sf-form-wrapper fieldset input[type="password"],
.mailchimp-sf-form-wrapper fieldset input[type="email"],
.mailchimp-sf-form-wrapper fieldset textarea {
	box-sizing: border-box;
	height: 44px;
	border-color: #000;
	border-radius: 4px;
	padding: 0.6em 1.5em;
	width: 100%;
	/* font-family: "Proxima Nova Alt Light", Arial, Helvetica, sans-serif */

}

.mailchimp-sf-form-wrapper .mailchimp-select-wrapper .form-row {
	margin: 0;
}

.mailchimp-sf-form-wrapper .mailchimp-select-wrapper select {
	font-size: 14px;
	/* font-family: "Proxima Nova Alt Light", Arial, Helvetica, sans-serif; */
	-webkit-appearance: none;
	box-shadow: none;
	outline: none;
	width: 100% !important;
	max-width: 100%;
	color: #32373c;

	border: 1px solid #000;
	padding: 6px 6px 4px 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: white;
	height: 44px;
}

.mailchimp-sf-form-wrapper .mailchimp-select-wrapper select option{
	outline: none;
}

.mailchimp-sf-form-wrapper .mailchimp-select-wrapper select:disabled {
	color: #aaa;
	background: none;
}

.mailchimp-sf-form-wrapper fieldset select:focus {
	outline: none;
}


.mailchimp-sf-form-wrapper .box.form-error label,
.mailchimp-sf-form-wrapper .box.form-error {
	color: red;
}

.mailchimp-sf-form-wrapper .box.form-error input {
	border-color: red;
}

.mailchimp-sf-form-wrapper .error-field:empty, #mailchimp-sf-create-account p.error-message:empty {
	display: none !important;
}

.mailchimp-sf-form-wrapper fieldset input[type='radio'],
.mailchimp-sf-form-wrapper fieldset input[type='radio'] {
	width: 2em;
	height: 2em;
	border: 1px solid #DBD9D2;
	margin-right: 10px;
}

.mailchimp-sf-form-wrapper fieldset input[type='radio']:checked::before,
.sync-content-wrapper fieldset input[type='radio']:checked::before {
	background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.75 0.5L12.25 2L5.26 9L0.75 4.5L2.25 3L5.26 6L10.75 0.5Z' fill='%237FAD45'/%3e%3c/svg%3e ");
	background-repeat: none;
	width: 13px;
	height: 9px;
	margin: 8px 0 0 7px;
}

.mailchimp-sf-form-wrapper fieldset .radio-label,
.sync-content-wrapper fieldset .radio-label {
	margin-bottom: 10px;
}

.mailchimp-sf-form-wrapper fieldset textarea {
	border: 1px solid #DBD9D2;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 15px 20px;
	width: 100%;

}

.mailchimp-sf-form-wrapper .optional-settings-label,
.mailchimp-sf-form-wrapper .optional-settings-button {
	margin-top: 3em;
	font-weight: 600;
}

.mailchimp-sf-form-wrapper .optional-settings-button:hover span {
	color: #628735;
}

.mailchimp-sf-form-wrapper .optional-settings-label span,
.mailchimp-sf-form-wrapper .optional-settings-button span {
	text-transform: uppercase;
	color: #7FAD45 ;
	font-size: 14px;
	cursor: default;
}

.mailchimp-sf-form-wrapper .optional-settings-button span {
	background: no-repeat left center url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.34 0.590027L6.75 5.17003L2.16 0.590027L0.75 2.00003L6.75 8.00003L12.75 2.00003L11.34 0.590027Z' fill='%23212121'/%3e%3c/svg%3e ");
	padding-left: 2em;
	cursor: pointer;
}

.mailchimp-sf-form-wrapper .optional-settings-button span.active {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.16 7.40997L6.75 2.82997L11.34 7.40997L12.75 5.99997L6.75 -2.61783e-05L0.75 5.99997L2.16 7.40997Z' fill='%23212121'/%3e%3c/svg%3e ");
}

.mailchimp-sf-form-wrapper .optional-settings-content {
	display: block;
}

@media (min-width: 783px) {
	#mailchimp-sf-create-account.wrap {
		margin: 0px;
		margin-left: -20px;
	}
}

@media screen and (max-width: 782px) {
	.mailchimp-sf-form-wrapper form{
		padding: 1em;
	}

	.mailchimp-sf-form-wrapper .mailchimp-select-wrapper select {
		font-size: 16px;
		line-height: 32px;
	}

	.mailchimp-sf-form-wrapper .box.box-half,
	.mailchimp-sf-form-wrapper .box.box-third {
		width: 100%;
	}
}
